.titleContainer {
    padding: 0 24px
}

.rating {
    color: #FF8000;
}

.dishContainer {
    position: relative;
    margin: 12px 24px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    padding: 12px;
}

.dishPrice {
    color: #FF8000;
}

.addButton {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 42px;
    color: #FF8000;
    font-weight: 500;
    font-size: 58px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBarContainer {
    background-color: #F7F6F1;
    padding: 12px 0;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 24px 0;
}

.menuBarContainer a {
    text-decoration: none;
    color: black;
}

.pizzaSaladContainer {
    padding: 12px 0;
    margin: 12px 24px;
}

.pizzaSaladContainer a {
    padding: 0 12px;
    font-weight: 600;
    font-size: 24px;
}

@media (max-width: 1068px) {
    .titleContainer {
        padding-top: 48px;
    }
}